<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="30" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="{%level}%date{MM/dd HH:mm:ss} - %message%newline" />
      </layout>
    </appender>
    <logger name="CnasWNSClient">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>

  <appSettings>

    <!-- 系统名称 -->
    <add key="SystemName" value="HCS管理系统"/>
    <add key="showCheckAllInstrument" value="true"/>
    <!-- 设置/获取 提示信息的 XML 文件名称 -->
    <add key="PromptMessageXmlFileName" value="../../Resources/messagedata.xml"/>

    <add key="WorkflowDialogConfig" value="../../config/WFDialogConfig.xml"/>


  </appSettings>

</configuration>