<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Base version-->
    <!--<add name="HCSDB" connectionString="Data Source=172.18.0.44;Initial Catalog=cnasdb1;User ID=hcs;Password=hcs123;charset='utf8';pooling=true;convert zero datetime=True"/>-->

    <!--Hight version-->
    <add name="HCSDB" connectionString="Data Source=120.24.54.65;Initial Catalog=cnasdb;User ID=hcs;Password=hcs123;charset='utf8';pooling=true;convert zero datetime=True"/>
  </connectionStrings>
</configuration>